---
import image from "../images/404.gif";
import Layout from "../layouts/Layout.astro";
---

<Layout article title="Syson - Frihet, bra häng och schysst lön">
  <main class="article">
    <h1>404 :(</h1>
    <img src={image} alt="Not found" />
  </main>
</Layout>

<style>
  img {
    max-width: 90vw;
  }
</style>
